<%- include("partials/header"); -%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="postTitle" />
    <label>Header Image</label>
    <input class="form-control" type="text" name="headerImgURL" />
    <label>Post</label>
    <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" name="webDev" id="webDev" />
    <label class="form-check-label" for="webDev">Web Development</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" name="career" id="career" />
    <label class="form-check-label" for="career">Career Change</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" name="communication" id="communication" />
    <label class="form-check-label" for="communication">Effective Communication</label>
  </div>
  <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>

<%- include("partials/footer"); -%>